* {
  font-family: "Roboto","Helvetica Neue","Arial",sans-serif !important;
}

html,body {
  margin:0;
  padding:0;
  max-width:100%;
  height:100%;
  overflow-x: hidden;
}

#header {
  padding-left: 50px;
}

canvas {
  width: 134%;
  height: 75%;
  transform: rotate(-17deg);
  position: absolute;
  top: -29%;
  left: -21%;
}

#header {
  width: 100%;
}

#navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 13px;
}

#logo {
  width: 100px;
  position: relative;
}

#menulist {
  list-style-type: none;
  display: flex;
  gap : 30px;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

#login {
  padding: 5px 12px;
  border-radius: 16px;
  background-color: rgba(255,255,255, 0.4);
  border: none;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

#textandphone {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

#phone {
  width: 250px;
}

#text {
  width: 700px;
}

#maintitle {
  font-size: 65px;
  font-weight: bold;
}

#secondtext {
  
  font-size: 20px;
  width: 75%;
  color: #0000009c;
}

#start {
  padding: 5px 12px;
  border-radius: 16px;
  background-color: black;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

#contact {
  padding: 5px 12px;
  border-radius: 16px;
  background-color:  rgba(200,200,200, 0.2);
  border: none;
  font-weight: bold;
  color: black;
  font-size: 15px;
}


@media screen and (max-width: 800px) {
    canvas {
        width: 200%;
        height: 60%;
        transform: rotate(-13deg);
        position: absolute;
        top: -29%;
        left: -20%;
    }

    #accessories {
      display: none;
    }

    #maintitle {
      font-size: 30px;
    }

    #secondtext {
      font-size: 15px;
    }

    #login, #start, #contact, #menulist {
      font-size: 10px;
    }
}